<div class="login">
<h2 class="page-header">Acesso</h2>
<form method="post" action="/users/login">
  <div class="form-group">
    <label>Digite o seu email</label>
    <input type="text" class="form-control" name="email" placeholder="silva@exemplo.com.br">
  </div>
  <div class="form-group">
    <label>Digite a sua senha</label>
    <input type="password" class="form-control" name="password" placeholder="***senha***">
  </div>
  <button type="submit" class="btn btn-default">Entrar</button>
</form>
<div>
